tensorflow==2.3.2
keras-rl2==1.0.5
jupyter-server==2.5.0
jsonschema==4.17.3
PyJWT==1.7.0
protobuf==3.20.3
pandas
pytest
pylint
pydocstyle
numpy
matplotlib
scipy
opencv-python
pillow
pyinstaller
pymongo
pyqt6
pytesseract
virtualbox
pyyaml
requests
jupyter
xlib
xlrd
lmfit
openpyxl
numexpr
fastapi
tqdm
seaborn
flask_jwt_extended
fastapi_auth
uvicorn